---
layout: base
---

{% for post in site.posts %}
<div class="row">
	<article class="{% cycle '6u', '6u$' %} 12u(small) excerpt">
		<header>
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		</header>
		<section>
			{% if page.image %}
				<img src="{{ page.image }}" class="fit image">
			{% endif %}
			{{ post.excerpt }}
		</section>
		<footer>
			<ul class="actions">
				<li><a href="{{ post.url }}" class="button">Read More</a></li>
			</ul>
		</footer>
	</article>
</div>
{% endfor %}
